.show__hero {
    height: var(--size-md);
}

.show__seasons {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: var(--spacing-md);
    padding: var(--spacing-xs);
}

.show__categories {
    display: flex;
    gap: var(--spacing-md);
}

.show__data {
    display: flex;
    gap: var(--spacing-md);
    margin: var(--spacing-sm) 0 var(--spacing-sm) 0;
    align-items: center;
    color: rgb(213, 211, 211);
}

.season {
    min-width: var(--size-md);
    height: 30vh;
    align-items: center;
    background-color: var(--color-primary);
    box-shadow: var(--shadow-sm);
}

.season__name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%
}

.season__n-episodes {
    display: flex;
    align-items: center;
}