.action-bar {
    height: var(--size-sm);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--spacing-md);
}

.action {
    background-color: gray;
    height: var(--size-xs);
    width: var(--size-xs);
    border-radius: var(--border-radius-circle);
}