:root {
  /* Colors */
  --color-primary: rgb(245, 197, 24);
  --color-secondary: #171911;
  --color-background: #191510;
  --color-text: #ffffff;

  /* Spacing */
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Sizing */
  --size-xxs: 3.063vh;
  --size-xs: 6.125vh;
  --size-sm: 12.25vh;
  --size-md: 25vh;
  --size-lg: 50vh;
  --size-xl: 100vh;

  /* Border radius */
  --border-radius-circle: 50%;

  /* Layout */
  --layout-nav-height: 10vh;
  --layout-main-height: 90vh;

  /* Grid */
  /** Two columns grid */
  --grid-md: repeat(2, 1fr);
  /** Four columns grid */
  --grid-lg: repeat(4, 1fr);

  --shadow-sm: 5px 5px 9px -5px var(--color-secondary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  /* Hide scroll bars */
  ::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--color-background);
  color: white;
}

main {
  height: var(--layout-main-height);
  overflow: scroll;
  padding: var(--spacing-md);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #f5c518;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background-color: var(--color-secondary);
  padding: var(--spacing-md);
  border-radius: 5px;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
